@import url(variables.css);

#app {
    text-align: center;
}

#card {
    background-color: white;
    width: 70%;
    margin: 1rem auto;

    display: flex;
    align-items: center;
    flex-direction: column;
}

#image {
    width: 80%;
}
