@import url(variables.css);

#app {
    text-align: center;
    margin: auto;
    padding: 30px;
}

#card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 60%;
    height: 100%;
}

#image {
    width: 80%;
}
