@import url(variables.css);

#app {
    text-align: center;
}

#card {
    background-color: white;
    background-size: 70%;
    width: 70%;
    margin: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

#image {
    width: 80%;
}
